*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary_colour: #ed6669; 
    --sec_colour: #e4e4e4;
}

body{
    background-color: white;
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
}

a, button, input, textarea, select{
    font-family: "Space Grotesk", sans-serif;
    color: black;
}

::placeholder{
    color: black;
}

main{
    flex-grow: 1;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    min-height: 100vh;
}

section{
    padding: 20px;
}

.buttonStyle1{
    border: 1px solid var(--primary_colour);
    background-color: var(--primary_colour);
    color: white;
    padding: 10px 25px;
    font-weight: 500;
}

.buttonStyle1:hover {
    color: var(--primary_colour);
    background-color: white;
}

ul {
    list-style-type: none;
}

.title{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}