

/* Header */

header{
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    border-right: 1px solid var(--sec_colour);
}


.navigation ul, .settings ul{
    display: flex;
    flex-direction: column;
}

header button{
    width: 100%;
    height: 45px;
    margin: 20px 0px;
}

.navigation ul li a, .settings ul li a{
    padding: 10px 0px 10px 10px;
}

.navigation ul li:hover, .settings ul li:hover{
    cursor: pointer;
    background-color: var(--sec_colour);
}

.navigation ul li a, .settings ul li a{
    display: block;
    width: 100%;
    height: 100%;
} 


/* Main */


.homepage, .create{
    max-width: 900px;
}

.search-area input{
    /* width: 400px; */
    width: 100%;
    border-radius: 1rem;
    padding: 10px 5px 10px 25px;
    border: 2px solid var(--primary_colour);
}

.categories{
    border: 1px solid var(--sec_colour);
}

.categories ul{
    display: flex;
    flex-direction: row;
}

.categories ul li{
    flex: 1;
    text-align: center;
    padding: 15px 0px;
}

.categories ul li:hover{
    background-color: var(--sec_colour);
    cursor: pointer;
}
.selected{
    border-bottom: 2px solid var(--primary_colour);
}


/* Post Content */

.title-section{
    border-bottom: 1px solid var(--sec_colour);
}

.title-section h2{
    margin-bottom: 30px;
    color: var(--primary_colour);
    font-size: 2.5rem;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;   
    margin: 30px 0px;
}

.post-content-container div{
    display: flex;
    align-items: center;
}

.post-content-container > div{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.post-content-container div span{
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 0.8rem;
}

.post-content-container .error-message{
    position: absolute;
    top: -23px;
    right: 0;
    color: var(--primary_colour);
    font-weight: bold;
}

.post-content-items{
    position: relative;
}

.error-message2 {
    position: absolute;
    top: -23px;
    left: 0;
    color: var(--primary_colour);
    font-weight: bold;
}

.post-content textarea{
    resize: vertical;
    min-height: 80px;
    max-height: 600px;
}

.post-content input, .post-content select, .post-content textarea{
    width: 500px;
    padding: 10px;
}

.post-content-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.post-content-items input{
    width: 230px;
}

.post-content-items button{
    width: 280px;
    height: 50px;
}

